@(currentPage: com.avaje.ebean.Page[UserAccount],chanvai: UserAccount)

@import helper._

@main("Quản lý") {
  
  <a href="@routes.Managers.newMessage(chanvai)" class="btn btn-primary">Gửi thông báo</a></br></br>
  
  <div id="pagination" class="pagination">
   @if(currentPage.hasPrev) {
      <li>
         <a href="@routes.Managers.list(currentPage.getPageIndex - 1,chanvai)">
            &larr;
         </a>
      </li>
   } else {
     <li class="disabled"><a>&larr;</a></li>
   }
     <li class="active">
        <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
     </li>
   @if(currentPage.hasNext) {
     <li>
      <a href="@routes.Managers.list(currentPage.getPageIndex + 1,chanvai)">&rarr;</a>
     </li>
   } else {
     <li class="disabled"><a>&rarr;</a></li>
   }
</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tài khoản</th>
        <th>Mật khẩu</th>
        <th>Description</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
    @for(account <- currentPage.getList()) {
      <tr>
        <td><a href="@routes.Managers.show(chanvai,account)">@account.email</a></td>
        <td><a href="@routes.Managers.show(chanvai,account)">@account.password</a></td>
        <td><a href="@routes.Managers.show(chanvai,account)">@account.description</a></td>
      </tr>
    }
    </tbody>
  </table>
 
  <a href="@routes.Managers.newAccount(chanvai)" class="btn btn-primary">New Account</a>
  <a class="btn" href="@routes.Managers.details(chanvai)">BACK</a>
}