@(currentPage: com.avaje.ebean.Page[UserAccount],chanvai: UserAccount)

@import helper._

@main("Học viên") {
Danh sách đăng ký:
  </br>

  <div id="pagination" class="pagination">
    @if(currentPage.hasPrev) {
      <li>
        <a href="@routes.Students.list2(currentPage.getPageIndex - 1,chanvai)">
            &larr;
        </a>
      </li>
    } else {
      <li class="disabled"><a>&larr;</a></li>
    }
    <li class="active">
      <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
    </li>
    @if(currentPage.hasNext) {
      <li>
        <a href="@routes.Students.list2(currentPage.getPageIndex + 1,chanvai)">&rarr;</a>
      </li>
    } else {
      <li class="disabled"><a>&rarr;</a></li>
    }
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tài khoản</th>
        <th>Họ tên</th>
        <th>Vai trò, chức vụ</th>
        <th>Description</th>
        <th> </th>
      </tr>
    </thead>
    <tbody >

   

    <script type="text/javascript">

    $(document).ready(function() {

        $(".element span").text(function(index, text) {

        return text.replace('3', 'Giáo vụ');

        });

    });

  </script>
     <script type="text/javascript">

    $(document).ready(function() {

        $(".element span").text(function(index, text) {

        
return text.replace('2', 'Giảng viên');
        });

    });

  </script>
  
     <script type="text/javascript">

    $(document).ready(function() {

        $(".element span").text(function(index, text) {

        
return text.replace('1', 'Học viên');
        });

    });

  </script>


@for(account <- currentPage.getList()) { 
 <td>@account.email</td>
<td>@account.name</td>
<td class="element"><span>@account.chucvu</span></td>
 <td>  @account.description</td>
        </tr>

    }

    </tbody>
  </table>


  <a class="btn" href="@routes.Students.details(chanvai)">BACK</a>
  <br><center> <span class="glyphicon glyphicon-home" aria-hidden="true"></span><a href="@routes.Students.details(chanvai)"> TRANG CHỦ </a><span class="glyphicon glyphicon-home" aria-hidden="true"></span></center>
}
